*{
  margin: 0;
  padding: 0;
  font-family: "nunito", arial;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
.container{
  background-image: url(background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1366px,2816px;
  background-attachment: fixed;
}
header{
  height: 70px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 6, 88);
}
.left{
  height: 85%;
  margin: 5px;
}
.portfolio-image{
  height: 100%;
  border-radius: 2px;
  cursor: pointer;
}
.right{
  margin-right: 30px;
}
.header-link{
  text-decoration: none;
  margin-right: 30px;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 17px;
  opacity: 0.7;
}
.header-link:hover{
  font-size: larger;
  opacity: 1;
}
.header-link:active{
  color: gold;
}
.catch-phrase{
  margin-top: 70px;
  font-size: 5em;
  text-align: center;
  font-family: "nunito", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  cursor: pointer;}
  .h1{
    overflow: hidden;
    font-size: 100%;
  }
  .old-text,
.new-text {
  display: block;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}
.old-text {
  height: auto;
  opacity: 1;
  width: auto;
}
.new-text {
  height: 0;
  opacity: 0;
  width: 0;
}
.catch-phrase:hover .old-text {
  height: 0px;
  opacity: 0;
  width: 0px;
}
.catch-phrase:hover .new-text {
  height: auto;
  opacity: 1;
  width: auto;
}
.name{
  color: gold;
  font: impact,arial;
  text-align: center;
  font-size: 3em;
}
.title{
  color: white;
  font: "kalam", arial;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
.images{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.html-container{
  background-image: url(html-logo.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  border-radius: 100px;
  opacity: 1;
  width: 200px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.css-image-container{
  background-image: url(css-logo.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  border-radius: 100px;
  opacity: 1;
  width: 200px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.my-image-container{
  width: 350px;
  height: 350px;
  cursor: pointer;
}
.my-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid rgb(12, 6, 88);
}
.html-text{
  position: absolute;
  color: black;
  font-size: 1.5em;
  font-family: "nunito" ,impact;
  font-weight: 700;
}
.texts{
  position: relative;
  margin-bottom: 700px;
}
.first-text{
  position: absolute;
  right: 100px;
  background-color: white;
  color: rgb(12, 6, 88);
  padding: 10px;
  border-radius: 4px;
  line-height: 40px;
  font-family: "kalam", arial;
  font-style: italic;
  box-shadow: 5px 5px 5px rgba(255,255,255,0.9);
}
.second-text{
  position: absolute;
  transform: translateY(250%);
  left: 100px;
  background-color: white;
  color: rgb(12, 6, 88);
  padding: 10px;
  border-radius: 4px;
  line-height: 40px;
  font-family: "kalam", arial;
  font-style: italic;
  box-shadow: 5px 5px 5px rgba(255,255,255,0.9);
}